@{
    ViewData["Title"] = "Home Page";
}
<div>
    <p> Ben Ömer Merhaba</p>

</div>
<div class="text-center">
    <h3 class="display-4">Betül denem</h3>
    <form>
        <input type="text"  class="form-control"/>
    </form>
</div>




